<div class="welcome">
    <div class="form-welcome">
        <form action="/artists-search" method="GET">
            <div>
                <input id="search-artists" type="text" name="artists" placeholder="Search for artists...">
            </div>
            <div>
                <button id="search-button" type="submit">Search</button>
            </div>
        </form>
    </div>

</div>